<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.blcu.resource.dao.IVideoInfoDao">
  <resultMap id="BaseResultMap" type="com.by.blcu.resource.dto.VideoInfo">
    <id column="video_info_id" jdbcType="INTEGER" property="videoInfoId" />
    <result column="store_datetime" jdbcType="VARCHAR" property="storeDatetime" />
    <result column="bucket_name" jdbcType="VARCHAR" property="bucketName" />
    <result column="extension_name" jdbcType="VARCHAR" property="extensionName" />
    <result column="endpoint" jdbcType="VARCHAR" property="endpoint" />
    <result column="success" jdbcType="TINYINT" property="success" />
    <result column="securitytoken" jdbcType="VARCHAR" property="securitytoken" />
    <result column="accesskeysecret" jdbcType="VARCHAR" property="accesskeysecret" />
    <result column="storage_type" jdbcType="VARCHAR" property="storageType" />
    <result column="expiration" jdbcType="VARCHAR" property="expiration" />
    <result column="key_word" jdbcType="VARCHAR" property="keyWord" />
    <result column="accesskeyid" jdbcType="VARCHAR" property="accesskeyid" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="bak1" jdbcType="VARCHAR" property="bak1" />
    <result column="bak2" jdbcType="VARCHAR" property="bak2" />
    <result column="bak3" jdbcType="VARCHAR" property="bak3" />
  </resultMap>
  <sql id="Base_Column_List">
    video_info_id, store_datetime, bucket_name, extension_name, endpoint, success, securitytoken, 
    accesskeysecret, storage_type, expiration, key_word, accesskeyid, file_id, duration, 
    url, create_user, create_time, update_user, update_time, video_name, bak1, bak2, 
    bak3
  </sql>
  <sql id="BaseWhere">
    	<if test="!@org.springframework.util.StringUtils@isEmpty(entityKeyValues)">
			and video_info_id in
			<foreach item="item" index="index" collection="entityKeyValues" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(notEntityKeyValues)">
			and video_info_id not in
			<foreach item="item" index="index" collection="notEntityKeyValues" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(videoInfoId)">
			and video_info_id=#{videoInfoId,jdbcType=INTEGER}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(storeDatetime)">
			and store_datetime=#{storeDatetime,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(bucketName)">
			and bucket_name=#{bucketName,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(extensionName)">
			and extension_name=#{extensionName,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(endpoint)">
			and endpoint=#{endpoint,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(success)">
			and success=#{success,jdbcType=TINYINT}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(securitytoken)">
			and securitytoken=#{securitytoken,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(accesskeysecret)">
			and accesskeysecret=#{accesskeysecret,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(storageType)">
			and storage_type=#{storageType,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(expiration)">
			and expiration=#{expiration,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(keyWord)">
			and key_word=#{keyWord,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(accesskeyid)">
			and accesskeyid=#{accesskeyid,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(fileId)">
			and file_id=#{fileId,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(duration)">
			and duration=#{duration,jdbcType=BIGINT}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(url)">
			and url=#{url,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(createUser)">
			and create_user=#{createUser,jdbcType=INTEGER}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(createTime)">
			and create_time=#{createTime,jdbcType=TIMESTAMP}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(updateUser)">
			and update_user=#{updateUser,jdbcType=INTEGER}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(updateTime)">
			and update_time=#{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(videoName)">
			and video_name=#{videoName,jdbcType=VARCHAR}
		</if>
        <if test="!@org.springframework.util.StringUtils@isEmpty(videoNameLike)">
            and video_name like concat('%',#{videoNameLike,jdbcType=VARCHAR},'%')
        </if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(bak1)">
			and bak1=#{bak1,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(bak2)">
			and bak2=#{bak2,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(bak3)">
			and bak3=#{bak3,jdbcType=VARCHAR}
		</if>

  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long">
    	select count(1) from video_info
		<where>
			<include refid="BaseWhere" />
		</where>
  </select>
  <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
    	select
		<include refid="Base_Column_List"/> 
		from video_info
		<where>
			<include refid="BaseWhere"/>
		</where>
		<include refid="com.blcu.common.orderSqlMap" /> 
		<include refid="com.blcu.common.pageSqlMap" /> 
  </select>
  <delete id="deleteByParams" parameterType="java.util.Map">
    	delete from video_info
		<where>
			<include refid="BaseWhere"/>
		</where>
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_info
    where video_info_id = #{videoInfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_info
    where video_info_id = #{videoInfoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.by.blcu.resource.dto.VideoInfo">
    insert into video_info (video_info_id, store_datetime, bucket_name, 
      extension_name, endpoint, success, 
      securitytoken, accesskeysecret, storage_type, 
      expiration, key_word, accesskeyid, 
      file_id, duration, url, 
      create_user, create_time, update_user, 
      update_time, video_name, bak1, 
      bak2, bak3)
    values (#{videoInfoId,jdbcType=INTEGER}, #{storeDatetime,jdbcType=VARCHAR}, #{bucketName,jdbcType=VARCHAR}, 
      #{extensionName,jdbcType=VARCHAR}, #{endpoint,jdbcType=VARCHAR}, #{success,jdbcType=TINYINT}, 
      #{securitytoken,jdbcType=VARCHAR}, #{accesskeysecret,jdbcType=VARCHAR}, #{storageType,jdbcType=VARCHAR}, 
      #{expiration,jdbcType=VARCHAR}, #{keyWord,jdbcType=VARCHAR}, #{accesskeyid,jdbcType=VARCHAR}, 
      #{fileId,jdbcType=VARCHAR}, #{duration,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{videoName,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, 
      #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.by.blcu.resource.dto.VideoInfo"
          useGeneratedKeys="true"  keyProperty="videoInfoId" keyColumn="video_info_id">
    insert into video_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="videoInfoId != null">
        video_info_id,
      </if>
      <if test="storeDatetime != null">
        store_datetime,
      </if>
      <if test="bucketName != null">
        bucket_name,
      </if>
      <if test="extensionName != null">
        extension_name,
      </if>
      <if test="endpoint != null">
        endpoint,
      </if>
      <if test="success != null">
        success,
      </if>
      <if test="securitytoken != null">
        securitytoken,
      </if>
      <if test="accesskeysecret != null">
        accesskeysecret,
      </if>
      <if test="storageType != null">
        storage_type,
      </if>
      <if test="expiration != null">
        expiration,
      </if>
      <if test="keyWord != null">
        key_word,
      </if>
      <if test="accesskeyid != null">
        accesskeyid,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="videoName != null">
        video_name,
      </if>
      <if test="bak1 != null">
        bak1,
      </if>
      <if test="bak2 != null">
        bak2,
      </if>
      <if test="bak3 != null">
        bak3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="videoInfoId != null">
        #{videoInfoId,jdbcType=INTEGER},
      </if>
      <if test="storeDatetime != null">
        #{storeDatetime,jdbcType=VARCHAR},
      </if>
      <if test="bucketName != null">
        #{bucketName,jdbcType=VARCHAR},
      </if>
      <if test="extensionName != null">
        #{extensionName,jdbcType=VARCHAR},
      </if>
      <if test="endpoint != null">
        #{endpoint,jdbcType=VARCHAR},
      </if>
      <if test="success != null">
        #{success,jdbcType=TINYINT},
      </if>
      <if test="securitytoken != null">
        #{securitytoken,jdbcType=VARCHAR},
      </if>
      <if test="accesskeysecret != null">
        #{accesskeysecret,jdbcType=VARCHAR},
      </if>
      <if test="storageType != null">
        #{storageType,jdbcType=VARCHAR},
      </if>
      <if test="expiration != null">
        #{expiration,jdbcType=VARCHAR},
      </if>
      <if test="keyWord != null">
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="accesskeyid != null">
        #{accesskeyid,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoName != null">
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null">
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        #{bak3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.by.blcu.resource.dto.VideoInfo">
    update video_info
    <set>
      <if test="storeDatetime != null">
        store_datetime = #{storeDatetime,jdbcType=VARCHAR},
      </if>
      <if test="bucketName != null">
        bucket_name = #{bucketName,jdbcType=VARCHAR},
      </if>
      <if test="extensionName != null">
        extension_name = #{extensionName,jdbcType=VARCHAR},
      </if>
      <if test="endpoint != null">
        endpoint = #{endpoint,jdbcType=VARCHAR},
      </if>
      <if test="success != null">
        success = #{success,jdbcType=TINYINT},
      </if>
      <if test="securitytoken != null">
        securitytoken = #{securitytoken,jdbcType=VARCHAR},
      </if>
      <if test="accesskeysecret != null">
        accesskeysecret = #{accesskeysecret,jdbcType=VARCHAR},
      </if>
      <if test="storageType != null">
        storage_type = #{storageType,jdbcType=VARCHAR},
      </if>
      <if test="expiration != null">
        expiration = #{expiration,jdbcType=VARCHAR},
      </if>
      <if test="keyWord != null">
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="accesskeyid != null">
        accesskeyid = #{accesskeyid,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoName != null">
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null">
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
    </set>
    where video_info_id = #{videoInfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.by.blcu.resource.dto.VideoInfo">
    update video_info
    set store_datetime = #{storeDatetime,jdbcType=VARCHAR},
      bucket_name = #{bucketName,jdbcType=VARCHAR},
      extension_name = #{extensionName,jdbcType=VARCHAR},
      endpoint = #{endpoint,jdbcType=VARCHAR},
      success = #{success,jdbcType=TINYINT},
      securitytoken = #{securitytoken,jdbcType=VARCHAR},
      accesskeysecret = #{accesskeysecret,jdbcType=VARCHAR},
      storage_type = #{storageType,jdbcType=VARCHAR},
      expiration = #{expiration,jdbcType=VARCHAR},
      key_word = #{keyWord,jdbcType=VARCHAR},
      accesskeyid = #{accesskeyid,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      video_name = #{videoName,jdbcType=VARCHAR},
      bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR},
      bak3 = #{bak3,jdbcType=VARCHAR}
    where video_info_id = #{videoInfoId,jdbcType=INTEGER}
  </update>
</mapper>