<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.blcu.mall.dao.MallCommodityOrderMapper">
  <resultMap id="BaseResultMap" type="com.by.blcu.mall.model.MallCommodityOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="co_id" jdbcType="VARCHAR" property="coId" />
    <result column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
    <result column="order_Id" jdbcType="VARCHAR" property="orderId" />
  </resultMap>
</mapper>