<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.blcu.course.dao.ICourseModelTypeDao">
  <resultMap id="BaseResultMap" type="com.by.blcu.course.dto.CourseModelType">
    <id column="course_model_type_id" jdbcType="INTEGER" property="courseModelTypeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    course_model_type_id, name, code, sort, status
  </sql>
  <sql id="BaseWhere">
    	<if test="!@org.springframework.util.StringUtils@isEmpty(entityKeyValues)">
			and course_model_type_id in
			<foreach item="item" index="index" collection="entityKeyValues" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(notEntityKeyValues)">
			and course_model_type_id not in
			<foreach item="item" index="index" collection="notEntityKeyValues" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(courseModelTypeId)">
			and course_model_type_id=#{courseModelTypeId,jdbcType=INTEGER}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(name)">
			and name=#{name,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(code)">
			and code=#{code,jdbcType=VARCHAR}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(sort)">
			and sort=#{sort,jdbcType=INTEGER}
		</if>
		<if test="!@org.springframework.util.StringUtils@isEmpty(status)">
			and status=#{status,jdbcType=TINYINT}
		</if>

  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long">
    	select count(1) from course_model_type
		<where>
			<include refid="BaseWhere" />
		</where>
  </select>
  <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
    	select
		<include refid="Base_Column_List"/> 
		from course_model_type
		<where>
			<include refid="BaseWhere"/>
		</where>
		<include refid="com.blcu.common.orderSqlMap" /> 
		<include refid="com.blcu.common.pageSqlMap" /> 
  </select>
  <delete id="deleteByParams" parameterType="java.util.Map">
    	delete from course_model_type
		<where>
			<include refid="BaseWhere"/>
		</where>
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_model_type
    where course_model_type_id = #{courseModelTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_model_type
    where course_model_type_id = #{courseModelTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.by.blcu.course.dto.CourseModelType">
    insert into course_model_type (course_model_type_id, name, code, 
      sort, status)
    values (#{courseModelTypeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.by.blcu.course.dto.CourseModelType">
    insert into course_model_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseModelTypeId != null">
        course_model_type_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseModelTypeId != null">
        #{courseModelTypeId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.by.blcu.course.dto.CourseModelType">
    update course_model_type
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where course_model_type_id = #{courseModelTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.by.blcu.course.dto.CourseModelType">
    update course_model_type
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT}
    where course_model_type_id = #{courseModelTypeId,jdbcType=INTEGER}
  </update>

    <select id="getAllModel" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List"/>
        from course_model_type where status = 1
        order by sort
    </select>

    <select id="getModelByCourseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        t.course_model_type_id, t.name, t.code, t.sort, t.status
         from course c,
              course_model_relation r,
              course_model_type t
        where t.status = 1
          and c.course_id = r.course_id
          and r.course_model_type = t.course_model_type_id
          and c.course_id = #{courseId,jdbcType=INTEGER}
        order by t.sort
    </select>
</mapper>