<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.blcu.manager.dao.ManagerAccountExtendMapper">
  <resultMap id="BaseResultMap" type="com.by.blcu.manager.model.ManagerAccountExtend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="teach_course" jdbcType="VARCHAR" property="teachCourse" />
    <result column="attribute" jdbcType="CHAR" property="attribute" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
  </resultMap>
</mapper>